<%= form_with model: @task, local:true do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= form.label :name, "タスク名" %>
    <%= form.text_field :name , required:true %>
  </div>

  <div class="field">
    <%= form.label :priolity, "優先度" %>
    <%= form.select :priolity, { 低: 'low', 中: 'middle', 高: 'high', 最優先: 'top'} %>
  </div>

  <div class="field">
    <%= form.label :note, "メモ" %>
    <%= form.text_area :note %>
  </div>

  <div class="field">
    <%= form.label :expired_at, "〆切" %>
    <%= form.date_select :expired_at %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
