<% if task.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>
    <ul>
      <% task.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: @task, local:true do |form| %>
  <div class="field">
    <%= form.label :name, "タスク名" %>
    <%= form.text_field :name , required:true %>
  </div>

  <div class="field">
    <%= form.label :priolity, "優先度" %>
    <%= form.select :priolity, {低: '低', 中: '中', 高: '高', 最優先: '最優先'} %>
  </div>

  <div class="field">
    <%= form.label :status, "ステータス" %>
    <%= form.select :status, { 未着手: '未着手', 着手: '着手', 完了: '完了'} %>
  </div>

  <div class="field">
    <%= form.label :note, "メモ" %>
    <%= form.text_area :note %>
  </div>

  <div class="field">
    <%= form.label 'ラベル', class:"form-check-inline"%>
    <% @labels.each do |label| %>
      <span class="label-<%= label.color %>">
        <%= form.check_box :label_ids, { multiple: true, include_hidden: false }, label[:id], class:"form-check-input" %>
        <label class="form-check-label"><%= label.name %></label>
      </span>      
    <% end %>
  </div>

  <div class="field">
    <%= form.label :expired_at, "終了期限" %>
    <%= form.date_select :expired_at %>
  </div>

  <div class="actions">
    <%= form.submit class:"btn btn-primary" %>
  </div>
<% end %>
