<h1>Your Label List</h1>
<%= link_to '+New Label', new_label_path, class:'btn btn-primary' %>
<table class="table-borderd m-2">
  <thead>
    <tr>
      <th>ラベル名</th>
      <th>タスク数</th>
    </tr>
  </thead>
  <tbody>
    <% @labels.each do |label| %>
      <tr>
        <td><span class="label-<%= label.color %>"><%= label.name %></span></td>
        <td><%= label.label_tasks.count %></td>
        <td><%= link_to 'edit', edit_label_path(label),class: 'edit-label', class: "btn btn-primary" %></td>
        <td><%= link_to 'destroy', label , class: 'destroy-label', method: :delete, data: { confirm: t('.are_you_sure?') }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'マイページに戻る' ,user_path(current_user.id) %>
