<h1>Users</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">ユーザー名</th>
      <th scope="col">メールアドレス</th>
      <th scope="col">管理権限</th>
      <th scope="col">タスク数</th>
    </tr>
  </thead>

  <tbody>
    <% @users.preload(:tasks).each do |user| %>
      <tr scope="row">
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <% if user.admin == true  %>
          <td><%= "有効" %></td>
        <% else %>
          <td><%= "  " %></td>
        <% end %>
        <td><%= user.tasks.count %></td>
        <td><%= link_to 'Show', admin_user_path(user) %></td>
        <td><%= link_to 'Edit', edit_admin_user_path(user)%></td>
        <td><%= link_to 'Destroy',admin_user_path(user), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_admin_user_path, id:"new-user" %>
